@font-face {
    font-family: "DIN PRO";
    src: url("./asserts/font/otf/D-DIN-PRO-400-Regular.otf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "DIN PRO";
    src: url("./asserts/font/otf/D-DIN-PRO-500-Medium.otf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "DIN PRO";
    src: url("./asserts/font/otf/D-DIN-PRO-600-SemiBold.otf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "DIN PRO";
    src: url("./asserts/font/otf/D-DIN-PRO-700-Bold.otf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "DIN PRO";
    src: url("./asserts/font/otf/D-DIN-PRO-800-ExtraBold.otf")
        format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "DIN PRO";
    src: url("./asserts/font/otf/D-DIN-PRO-900-Heavy.otf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

* {
    font-family: "DIN Pro", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 400;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    letter-spacing: 1.1px;
    box-sizing: border-box;
    position: initial;
    color: #000000;
    user-select: none;
}

a:hover {
    text-decoration: none;
}

button:disabled,
button[disabled] {
    background: rgb(77, 77, 77);
}

button:disabled:active,
button[disabled]:active {
    transform: none !important;
}

body {
    background: white;
}

@media only screen and (max-width: 1200px) {
    * {
        font-size: 12px;
    }
    .gl-icon {
        font-size: 28px !important;
    }
    .logo img {
        width: 55px;
        height: auto;
    }
}

@media only screen and (min-width: 1200px) {
    .position-xl-absolute {
        position: absolute !important;
    }
}
